    <div class="container-fluid">

  <a class="nav-link js-scroll-trigger" href="#value" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/logout"><img src= "./img/location-marker-white.png">MARKET CONNECTION</a>
        <input id="address" type="hidden" value="{{#avm}}{{this.location.latitude}},{{this.location.longitude}}{{/avm}}">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#value">Home Value</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#details">Property Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sales">Recent Sales</a>
            </li>                     
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#trends">Price Trends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#forsale">For Sale</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
       <div id="color-overlay"></div>
  <div class="container">
<section id="value">
<div class="text-picture hero-padding">
  <div class = "row">
    <div class = "col-md-12 text-center sr-address">
      <h1>{{#avm}}{{this.address}}{{/avm}}</h1>
    </div>
  </div>
    <div class="row row--flex">
          <div class="col-sm-6 text-picture__picture mt-4 sr-hero">
        <div id="info">
  <a href="#" target="_blank" title="View on Google Maps"></a>
</div>
      </div>
      <div class="col-sm-6 row--flex__col--center text-picture__text text-center mt-5 sr-hero-cta">
        <h2>Estimated Home Value Range</h2>
        {{#avm}}        
          <h2 class = "avm my-2">
              <input class = "avmInput" type = "hidden" value = "{{this.avm.amount.value}}">
          </h2>
          <h3 class = "avm-low">
             <input class = "avmInputLow" type = "hidden" value = "{{this.avm.amount.low}}">
          </h3>
          <h3 class = "avm-high">
             <input class = "avmInputHigh" type = "hidden" value = "{{this.avm.amount.high}}">
          </h3>
          <h3 class = "mt-5">Confidence Score: {{this.avm.amount.scr}}%</h3>
            <p>Based on tax assessments and homes sold near you, this is the accuracy of our home evaluation.</p>          
        {{/avm}}
      </div>
    </div>
</div>
</section>
<section id="details">
<div class = "row">
  <div class = "col-sm-4 mt-5">
        <h2>Property Details</h2>
  </div>
  <div class = "col-sm-8">
  </div>
</div>
    <div class = "row py-1">
    {{#avm}}
      <div class = "col-sm-4">
        <h4>Beds</h4>
          <p class = "specs">{{this.building.rooms.beds}}</p>
      </div>
      <div class = "col-sm-4"> 
        <h4>Baths</h4>
           <p class = "specs">{{this.building.rooms.bathstotal}}</p>
      </div>
      <div class = "col-sm-4">  
        <h4>Square Footage</h4>
           <p class = "specs">{{this.building.size.bldgsize}} </p>
      </div>
    </div>
    <div class = "row py-1">
      <div class = "col-sm-4">
        <h4>Year Built</h4>
           <p class = "specs">{{this.summary.yearbuilt}} </p>
      </div>
      <div class = "col-sm-4">
        <h4>Acres</h4>
           <p class = "specs">{{this.lot.lotsize1}}</p>
      </div>
      <div class = "col-sm-4">
        <h4>Last Sold For</h4>
           <p class = "specs">{{this.summary.yearbuilt}}</p>
      </div>
    </div>
    {{/avm}}
  </div>
</section>
</div>
</div>
<section id="sales">
  <div class = "container">
<div class="text-picture component mb-2">
    <div class="row row--flex">
          <div class="col-sm-6 text-picture__picture pt-5">
                <h2 class="pb-2 recent-sales">Recent Sales Near You</h2>
                <h4 class = "subheading pb-3">Find the locations and property details of homes that sold within a mile radius of you in the last year. </h4>
                <div class="sr-map">
                  <div id = "map" style="height: 300px;"></div>
                </div>

      </div>
      <div class="col-sm-6 text-center py-5">
        {{#each avm.sale.property}}
        <input type="hidden" class="sale-location-name" value="
          {{this.address.line1}}"></input>
        <input type="hidden" class="sale-location-lat" value="
          {{this.location.latitude}}"></input>
        <input type="hidden" class="sale-location-lon" value="
            {{this.location.longitude}}"></input>
        <div id="accordion" class = "pr-3" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" class="toggler" href="#collapse{{this.identifier.apn}}" aria-expanded="true" aria-controls="collapseOne">
          {{this.address.line1}}
            <i class= "fa fa-caret-down pl-3 rotate"></i>
        </a>
      </h5>
    </div>

    <div id="collapse{{this.identifier.apn}}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class = "row">
          <div class = "col-sm-3">
             <h6>Sold: ${{this.sale.amount.saleamt}}</h6>
           </div>
           <div class = "col-sm-3">
           <h6> SqFt: {{this.building.size.universalsize}}</h6>
          </div>
          <div class = "col-sm-3">
            <h6>Baths: {{this.building.rooms.bathstotal}}</h6>
          </div>
          <div class = "col-sm-3">
           <h6> Beds: {{this.building.rooms.beds}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    {{/each}}
      </div>
  </div>
</div>
</div>
</section>
<section id="trends">
<div class="text-picture component">
    <div class="row row--flex ml-5 mx-5">
      <div class="col-lg-6 row--flex__col--center text-picture__text text-center">
        <h2 class = "recent-trends">Recent Home Sales Price Trends</h2><h4 class = "subheading">2017 median average price per month.</h4>
        <div class="text-picture__picture">
          <img src= "./img/home.png" class="img-responsive home-image sr-home">
        </div>
      </div>
        <div class="col-lg-6 text-picture__picture">
          <div class="chart-container sr-chart" style="position: relative; height:20vh; width:35vw">
                  <canvas id="canvas"></canvas>
          </div>
          {{#each avm.trends}}
        <input type="hidden" class = "chart"
          value="{{this.SalesTrend.avgsaleprice}}"></input>
        {{/each}}
        </div>
    </div>
</div>
</section>
<section id="units">
<div class="text-picture component">
    <div class="row row--flex ml-5 mx-5">
      <div class="col-lg-6 text-picture__picture">
          <div class="chart-container pl-5 sr-chart" style="position: relative; height:20vh; width:35vw">
                  <canvas id="canvasTwo"></canvas>
          </div>
          {{#each avm.units}}
        <input type="hidden" class = "units"
          value="{{this.SalesTrend.homesalecount}}"></input>
        {{/each}}
        </div>
      <div class="col-lg-6 row--flex__col--center text-picture__text text-center">
        <h2 class = "recent-trends">Recent Home Sales Units </h2><h4 class = "subheading">median average price in your zip code.</h4>
        <div class="text-picture__picture">
          <img src= "./img/home-graph.png" class="img-responsive home-image sr-home">
        </div>
      </div>
    </div>
</div>
</section>
<section id = "cta">
  <div class= "row py-4">
    <div class = "col-md-12 text-center">
      <h2 class = "recent-sales">Question About Your Home's Value?</h2>
        <h4 class = "subheading py-1" >Get in contact with one of our local experts.</h4>
    </div>
  </div>
    <div class= "row pb-5">
      <div class = "col-md-5">
      </div>
      <div class = "col-md-2 text-center">   
         <input type="submit" class="btn btn-primary btn-block sr-button" value="Connect with Us" id="eval" data-toggle="modal" data-target="#contactForm">
      <div class = "col-md-5">
      </div>         
    </div>
  </div>
</section>
</div>
 <div id="footer">
    <div class="container">
      <div class = "row">
        <div class= "col-md-8 text-left">
          <p class="footer-block">MARKET CONNECTION &#x24B8; Copyright 2017 Ryan Judy.</p>
        </div>
        <div class = "col-md-4">
          {{#avm}}
          <p class ="footer-block">Home Evaluation Last Updated: {{this.avm.eventDate}}
          {{/avm}}
    </div>
  </div>

  <div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="signup" class="signup" name="signup" method="post" action="/signup">  
      <div class="form-body">
      <div class="card-form">
          <div class="modal-title pb-2">Contact a Local Agent
          </div>
          <div class="form-body">
            <div class="row">
              <input type="text" placeholder="number" name="number"/>
            </div>
            <div class="row">
              <textarea type="message" placeholder="message"  class="text" name="message"></textarea> 
            </div>
          </div>
          <div class="rule"></div>
          <div class="form-footer">
            <input class="btn submit" type="submit" value="GO" />
          </div>
    </form>
        </div>
        </div>
      </div>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>  
    <script src='https://maps.google.com/maps/api/js?sensor=false'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
        <script src="./js/value.js"></script>
