<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/logout">{{#avm}}{{this.address}}{{/avm}}</a>
        <input id="address" type="hidden" value="{{#avm}}{{this.location.latitude}},{{this.location.longitude}}{{/avm}}">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#value">Home Value</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#details">Property Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sales">Recent Sales</a>
            </li>                     
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#trends">Price Trends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#forsale">For Sale</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="container">
<section id="value">
<div class="text-picture">
    <div class="row row--flex">
          <div class="col-sm-6 text-picture__picture">
        <div id="info">
  <a href="#" target="_blank" title="View on Google Maps"></a>
</div>
      </div>
      <div class="col-sm-6 row--flex__col--center text-picture__text text-center">
        <h2>Estimated Home Value Range</h2>
        {{#avm}}        
          <h3 class = "avm">
              {{this.avm.amount.value}}
          </h3>
          <h4 class = "avm-low">
              {{this.avm.amount.low}} - 
          </h4>
          <h4 class = "avm-high">
              {{this.avm.amount.high}}</h3>
          </h4>
        {{/avm}}        
        <div class = "slider text-center">
         <input type="range" min="10" max="1000" step="10" value="300" data-orientation="vertical">
        </div>
      </div>
    </div>
</div>
</section>
<section id="details">
<div class = "row">
  <div class = "col-sm-4">
        <h2>Property Details</h2>
  </div>
  <div class = "col-sm-8">
  </div>
</div>
    <div class = "row">
      <div class = "col-sm-12">
    {{#avm}}
      <div class="d-flex justify-content-between">
        <h4 class = "beds">Beds:</h4>
          {{this.building.rooms.bedstotal}} 
        <h4 class = "baths">Baths:</h4>
          {{this.building.rooms.bathstotal}}      
        <h4 class = "sqft">Square Footage:</h4>
          {{this.building.size.bldgsize}} 
      </div>
      <div class="d-flex justify-content-between">
        <h4 class = "beds">Year Built:</h4>
          {{this.summary.yearbuilt}} 
        <h4 class = "baths">Acres:</h4>
          {{this.building.size.bldgsize}}
        <h4 class = "sqft">Last Sold For:</h4>
          {{this.summary.yearbuilt}} 
      </div>
    {{/avm}}
  </div>
</div>
</details>
<section id="sales">
<div class="text-picture">
    <div class="row row--flex">
          <div class="col-sm-6 text-picture__picture">
        <img src="./img/location.png" alt="Image" class="img-responsive location-image" />
      </div>
      <div class="col-sm-6 text-center">
        <h2>Recent Sales Near You</h2>
        {{#each avm.sale.property}}
          {{this.address.line1}}<br>
        {{/each}}
      </div>
  </div>
</div>
</section>
<section id="trends">
<div class="text-picture">
    <div class="row row--flex">
      <div class="col-sm-6 row--flex__col--center text-picture__text text-center">
        <h2>Recent Home Sales Price Trends</h2><h4>median average price</h4>
      </div>
                <div class="col-sm-6 text-picture__picture">
                {{#each avm.trends}}
          {{this.SalesTrend.homesalecount}}<br>
          {{this.SalesTrend.avgsaleprice}}<br>
        {{/each}}
      </div>
    </div>
</div>
</section>

</div>


    <script src='https://maps.google.com/maps/api/js?sensor=false'></script>

